<Context>
	<Resource	name="jdbc/HeliumDS" auth="Container" type="javax.sql.DataSource"
				maxActive="10" maxIdle="6" maxWait="5000"
				username="helium" password="helium" driverClassName="oracle.jdbc.driver.OracleDriver"
				url="jdbc:oracle:thin:@192.168.0.1:1521:orcl"/>
	<Resource	name="mail/HeliumSession" auth="Container"
				type="javax.mail.Session"
				mail.smtp.host="mail.limit.es"/>
	<Realm		className="org.apache.catalina.realm.JDBCRealm"
				connectionName="helium" connectionPassword="helium"
				connectionURL="jdbc:oracle:thin:@192.168.0.1:1521:orcl"
				driverName="oracle.jdbc.driver.OracleDriver"
				userTable="hel_usuari" userRoleTable="hel_usuari_permis"
				userNameCol="codi" userCredCol="contrasenya" roleNameCol="permis"
				digest="MD5"/>
</Context>
