html, body {
	height:100%;
}
body {
    background-color: #f9f9f9;
    color: #4c4c4c;
    text-align: left;
    font-family: Arial,sans-serif;
	font-size: 81%;
	text-align:center;
	min-width:400px;
	min-height:300px;
}

#vertical{
	position:absolute;
	top:50%;
	margin-top:-198px;/* half main elements height*/
	left:0;
	width:100%;
}
#horizontal {
	width: 400px;
	border: 1px solid #848484;
	background-color: #e9e9e9;
	margin-left:auto;
	margin-right:auto;
	height:210px;
	border:1px solid silver;
	overflow:auto;/* allow content to scroll inside element */
	text-align:left;
}

h1 {
	height: 40px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 250%;
	font-weight: normal;
	vertical-align: middle;
	padding: 10px 0 0 12px;
	margin-bottom: 8px;
	color: #666;
	background-color: #fff;
	border-bottom: 1px solid #aaa;
}
h1 span {
	color: #ff5f01;
}

#vertical form {
	margin: 7px;
}
button.submitButton {
	background: transparent url(../img/gradients.png) repeat-x;
	background-position: 0 -3960px;
	padding: 1px 10px;
	-moz-border-radius: 2px;
	border: 1px solid #666;
	margin: 8px 0 0 8px;
	float: left;
}
button.submitButton:hover, button.submitButtonImage:hover {
	background-position: 0 -540px;
}

#horizontal.error {
	height: 266px;
}
h3 {
	color:#AF4C4C;
	margin: 0;
	padding: 0;
}
