html, body{
	height: 100%;
	min-width: 850px;
}

#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -26px;
}

#header {
}
#header #logo-wrapper {
	float: left;
	background-color: white;
	border-right: 1px dotted #c0c0c0;
	margin: 0;
	padding: 0;
	width: 185px;
}
#header #logo-wrapper #logo {
	width: 185px;
	height: 40px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 250%;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	color: #666;
	margin: 0;
	padding: 0;
	position: relative;
	top: 10px;
	height: 50px;
}
#header #logo-wrapper #logo span {
	color: #ff5f01;
}
#header #logo-wrapper #version {
	position: relative;
	top: 28px;
	left: 4px;
	font-size: 80%;
}
#header #menu-wrapper {
	background-color: #f2f2f2;
	height: 50px;
}
#header #menu-wrapper #menu-superior {
	margin: 10px 0 0 10px;
	float: left;
}
#header #menu-wrapper #menu-logout {
	margin: 10px 10px 0 0;
	float: right;
}
#header #menu-wrapper #menu-logout a:hover {
	text-decoration: none;
}
#header #menu-wrapper #menu-logout ul a:hover {
	text-decoration: underline;
}
#header #menu-wrapper #menu-logout .sortir a, #header #menu-wrapper #menu-logout .usuari a {
	border-left: none;
}
#header #menu-wrapper #menu-logout .idioma a {
	background-position: 10px 3px;
}
#header #menu-wrapper #menu-logout li.idioma * {
	width: auto;
}
#header #page-entorn-title {
	background-color: #444;
	padding: .5em 2em .5em 2em;
	clear: left;
	border-bottom: 1px dotted #d4d4d4;
	/* Original */
	/* min-height: 2em; */
	/* VersiÃ³ ie6 */
	height: 2em;
}
#header #page-entorn-title h2 {
	color: #646464;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 146.5%;
	font-weight: normal;
	margin-top: 4px;
	float: left;
}
#header #page-entorn-title h2 span {
	color: white;
	margin-right: 6px;
}
#header #page-entorn-menu {
	background-color: #444;
	padding: 0 1em 0 2em;
	height: 30px;
	border-bottom: 1px solid black;
	position: relative; 
	z-index: 5; 
}
#header #page-entorn-menu span.menu-item-icon a {
	color: #ccc;
}
#header #page-title {
	background-color: #666;
	height: 2em;
	padding: .5em 2em .5em 2em;
	clear: left;
}
#header #page-title h2 {
	color: #848484;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 146.5%;
	font-weight: normal;
	margin-top: 4px;
	float: left;
}
#header #page-title h2 span {
	color: white;
	margin-right: 6px;
}
#header #page-title #filtre {
	width: 220px;
	float: right;
	text-align: right;
}
#header #page-title #filtre input {
	z-index: 100;
	float: right;
	visibility: hidden;
	width: 0px;
	margin: 1px 0px;
	/*background-image: url('../img/magnifier.png');
	background-position: right;
	background-repeat: no-repeat;*/
}
#header #page-title #filtre a {
	float: right;
	position: relative;
	top: 5px;
	left: 3px;
	z-index: 200;
}
#menu {
	border-top: 1px solid #d9d9d9;
	background-color: #d9d9d9;
	padding-left: 2em;
}
#content {
	padding: 2em;
	background-color: white;
}
#footer, #push {
	border-top: 1px solid white;
	padding: 6px;
	height: 13px;
}
#footer #version {
	float: left;
}
#footer #copyright {
	float: right;
	/*margin-top: -11px;*/
}
#footer {
	background-color: #f2f2f2;
	border-top: 1px solid #dfdfdf;
}

.ui-progressbar-value {
	background: #8DCB48 !important;
}

.dialog-form-massive-bar {
	position:fixed; 
	font-family:arial;
	font-size:1em;
	border:0.05em solid black;
	overflow:false;
	background-color:#fff;
}

.ui-accordion-header {
	height: 30px;
	margin-top: 4px !important;
	padding-top: 2px !important;
}

.ui-accordion-content {
	height: auto !important;
	margin-bottom: 4px !important;
	border-top: solid 1px #AAA !important;
}

.plabel {
	position: absolute;
	left: 700px; 
}
.massiu-data {
	width: 140px;
	float: left;
	padding-left: 25px;
	padding-top: 5px;
}
.massiu-accio {
	width: 395px;
	float: left;
	padding-top: 5px;
}
.massiu-progres {
	width: 280px;
	float: left;
	margin: 5px;
	height: 15px !important;
}
.massiu-expedient {
	width: 550px;
	padding: 2px 10px !important;
}
.massiu-estat {
	width: 175px;
	padding: 2px 10px !important;
}
.massiu-opcions {
	width: 50px;
	padding: 2px 10px !important;
}
.mass_exp_titol {
	font-weight: bold;
	background-color: 
}

#page-entorn-menu div.massives a {
	background-image: url(../img/application_cascade.png);
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: 10px 0;
	color: #CCC;
	text-decoration: none;
	float: right;
	height: 20px;
}
#page-entorn-menu div.massives {
	padding-top: 8px;
	float: right;
	padding-right: 10px;
}
#accordio_massiva {
	font-size: 12px !important;
}

/* Waiting icon */
.wait {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}
body.loading .wait {
    display: block;
}
.objectsPerPage {
	float:	right !important;
}
select.objectsPerPage {
	width:	60px !important;
	margin-left: 10px !important;
}
.opp-llista {
	position: relative;
	top: 100px;
}