<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Helium Spring Boot 2</title>
</head>
<body>
	<div layout:fragment="content">
 			<div class="col-12 app_content">
			<div class="card cardHome">
				<div class="card-body">
					<h1 class="card-title">Prova d'aplicació Spring Boot 2 publicada amb WAR</h1>
					<p>Només conté aquesta pàgina d'inici</p>
					<p th:text="'Hello, ' + ${name} + '!'" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>